/* You can add global styles to this file, and also import other style files */

/* Global */
@import url('https://fonts.googleapis.com/css?family=Lobster|Source+Sans+Pro:400,600,700&display=swap');
html, body { height: 100%; width: 100%; margin: 0px; font-family: 'Source Sans Pro'; font-size: 16px; line-height: 22px; }
.main { height: 100%; }
.container { max-width: 1000px; margin: 0 auto; }
div, div * { box-sizing: border-box; }

/* Fonts  */
.font-ssp { font-family: 'Source Sans Pro'; }
.font-lobster { font-family: 'Lobster', cursive; }
.font-18 { font-size: 18px; line-height: 25px; }
.font-20 { font-size: 20px; line-height: 25px; }
.font-30 { font-size: 30px; line-height: 35px; }
.font-40 { font-size: 40px; line-height: 45px; }
.font-50 { font-size: 50px; line-height: 55px; }

/* Alignment */
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/* Colos */
.color-blue { color: #267ec5; }
.color-pink { color:  #f13c55; }
.color-white { color: white; }

/* Background */
.back-blue { background-color: #267ec5; }
.back-pink { background-color:  #f13c55; }
.back-white { background-color: white; }
.back-light-grey { background-color: #f5f5f5; }
.back-grad {
    background: rgba(241,60,84,1);
    background: -moz-linear-gradient(-45deg, rgba(241,60,84,1) 0%, rgba(67,194,235,1) 49%, rgba(63,197,238,1) 50%, rgba(2,71,128,1) 88%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(241,60,84,1)), color-stop(49%, rgba(67,194,235,1)), color-stop(50%, rgba(63,197,238,1)), color-stop(88%, rgba(2,71,128,1)));
    background: -webkit-linear-gradient(-45deg, rgba(241,60,84,1) 0%, rgba(67,194,235,1) 49%, rgba(63,197,238,1) 50%, rgba(2,71,128,1) 88%);
    background: -o-linear-gradient(-45deg, rgba(241,60,84,1) 0%, rgba(67,194,235,1) 49%, rgba(63,197,238,1) 50%, rgba(2,71,128,1) 88%);
    background: -ms-linear-gradient(-45deg, rgba(241,60,84,1) 0%, rgba(67,194,235,1) 49%, rgba(63,197,238,1) 50%, rgba(2,71,128,1) 88%);
    background: linear-gradient(135deg, rgba(241,60,84,1) 0%, rgba(67,194,235,1) 49%, rgba(63,197,238,1) 50%, rgba(2,71,128,1) 88%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f13c54', endColorstr='#024780', GradientType=1 ); }

/* Spacing */
p { margin: 0px 0px 10px; }
.mt-30 { margin-top: 30px; }
.p-15 { padding: 15px; }

/* Auth Page */
.auth { 
    height: 80vh; 
    display: flex; 
    /* align-items: center;  */
    position: relative; 
    top: 10vh; 
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.7);
    border-radius: 10px;
    overflow-y: auto;
}
.left-col,
.right-col { width: 50%; padding: 15px; }
.left-col,
.left-col * { position: relative; }
.left-col { 
    background-image: url(assets/images/login-banner.jpeg); 
    background-size: cover; 
    background-position: center left; 
    background-repeat: no-repeat;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.left-col:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Forms */
input { width: 100%; height: 40px; padding: 0px 10px; color: #333; font-size: 16px; margin-bottom: 20px; background-color: white; }
button { border: 0px; padding: 12px 25px; font-size: 18px; line-height: 20px; cursor: pointer; }